@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.contact-header{
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;}